S3method(print,PopgenVCFAnalysis)
S3method(print,PopgenVCFAncestryAlignment)
S3method(print,PopgenVCFAncestryBackend)
S3method(print,PopgenVCFAncestryConsensus)
S3method(print,PopgenVCFExecutionEngine)
S3method(print,PopgenVCFExecutionPlan)
S3method(print,PopgenVCFExecutionRetryPolicy)
S3method(print,PopgenVCFExecutionTimeoutPolicy)
S3method(print,PopgenVCFExecutionCancellationToken)
S3method(print,PopgenVCFExternalCommand)
S3method(print,PopgenVCFExternalProcessResult)
S3method(print,PopgenVCFExternalProcessSupervisionPolicy)
S3method(print,PopgenVCFExternalProcessWorkspacePolicy)
S3method(print,PopgenVCFExternalProcessHandle)
S3method(print,PopgenVCFKSelection)
S3method(print,PopgenVCFAncestryReplicate)
S3method(print,PopgenVCFAncestryResult)
S3method(print,PopgenVCFBenchmarkSuite)
S3method(print,PopgenVCFCoreResult)
S3method(print,PopgenVCFModuleSpec)
S3method(print,PopgenVCFReportPlan)
S3method(summary,PopgenVCFAnalysis)
export(admixture_module_spec)
export(align_ancestry_replicate)
export(amova_module_spec)
export(ancestry_backend_status)
export(ancestry_consensus_table)
export(ancestry_k_selection_text)
export(ancestry_q_table)
export(ancestry_result_table)
export(as_core_result)
export(benchmark_archive_table)
export(benchmark_dataset_cache_dir)
export(benchmark_dataset_from_entry)
export(benchmark_stage)
export(benchmark_suite_table)
export(build_dashboard_summary)
export(build_population_genomics_report_plan)
export(calculate_scientific_quality)
export(chromosome_module_spec)
export(cli_main)
export(compare_external_reference)
export(compare_golden_outputs)
export(compare_performance_baseline)
export(compare_popgenvcf_projects)
export(compare_release_benchmarks)
export(consensus_ancestry)
export(core_result_table)
export(dapc_module_spec)
export(default_analysis_registry)
export(default_ancestry_backend_registry)
export(default_benchmark_dataset_catalogue)
export(default_config)
export(default_reference_adapter_registry)
export(diversity_module_spec)
export(execute_analysis_plan)
export(execute_analysis_plan_with_retries)
export(execute_analysis_plan_with_timeouts)
export(execute_analysis_registry)
export(execute_analysis_registry_with_retries)
export(execute_analysis_registry_with_timeouts)
export(external_reference_benchmark_spec)
export(external_reference_table)
export(faststructure_module_spec)
export(fst_module_spec)
export(get_analysis_result)
export(get_release_benchmark)
export(golden_output_table)
export(ibd_module_spec)
export(ibs_module_spec)
export(is_popgen_vcf_analysis)
export(latest_release_benchmark)
export(list_analyses)
export(list_benchmark_datasets)
export(list_benchmarks)
export(new_analysis_module_spec)
export(new_analysis_registry)
export(new_amova_result)
export(new_ancestry_backend)
export(new_ancestry_backend_registry)
export(new_ancestry_replicate)
export(new_ancestry_result)
export(new_benchmark_archive)
export(new_benchmark_dataset)
export(new_benchmark_dataset_catalogue)
export(new_benchmark_dataset_entry)
export(new_benchmark_registry)
export(new_benchmark_spec)
export(new_core_result)
export(new_dapc_result)
export(new_diversity_result)
export(new_execution_engine)
export(new_execution_checkpoint)
export(new_execution_retry_policy)
export(new_execution_timeout_policy)
export(validate_execution_checkpoint)
export(write_execution_checkpoint)
export(read_execution_checkpoint)
export(resume_analysis_execution)
export(new_external_reference_spec)
export(new_fst_result)
export(new_golden_entry)
export(new_golden_spec)
export(new_golden_store)
export(new_ibd_result)
export(new_ibs_result)
export(new_pca_result)
export(new_performance_benchmark_spec)
export(new_popgen_vcf_analysis)
export(new_popgenvcf_project)
export(new_project_rng)
export(new_reference_adapter)
export(new_release_benchmark_record)
export(new_tree_result)
export(pca_module_spec)
export(performance_benchmark_table)
export(performance_environment_fingerprint)
export(plan_analysis_execution)
export(project_table)
export(read_benchmark_archive)
export(read_benchmark_suite)
export(read_config)
export(read_core_result)
export(read_golden_store)
export(read_performance_baseline)
export(read_popgenvcf_project)
export(reference_adapter_spec)
export(reference_adapter_status)
export(register_analysis)
export(register_analysis_artifacts)
export(register_analysis_module)
export(register_ancestry_backend)
export(register_benchmark)
export(register_benchmark_dataset)
export(register_golden_entry)
export(register_release_benchmark)
export(release_comparison_table)
export(render_report)
export(resolve_analysis_order)
export(resolve_benchmark_dataset)
export(run_admixture_cv)
export(run_ancestry)
export(run_benchmark)
export(run_benchmark_suite)
export(run_external_reference)
export(run_performance_benchmark)
export(run_pipeline)
export(run_reference_adapters)
export(save_benchmark_suite)
export(save_core_result)
export(save_performance_baseline)
export(select_ancestry_k)
export(set_analysis_result)
export(snmf_module_spec)
export(synthetic_genotypes)
export(tree_module_spec)
export(validate_analysis)
export(validate_config)
export(validate_ancestry_consensus)
export(validate_ancestry_k_selection)
export(validate_ancestry_replicate)
export(validate_ancestry_result)
export(validate_benchmark_dataset)
export(validate_benchmark_dataset_entry)
export(validate_benchmark_result)
export(validate_benchmark_spec)
export(validate_benchmark_suite)
export(validate_core_result)
export(validate_external_reference_spec)
export(validate_golden_entry)
export(validate_module_result)
export(validate_popgenvcf_project)
export(validate_population_genomics_report_plan)
export(validate_reference_adapter)
export(validate_release_benchmark_record)
export(verify_benchmark_archive)
export(verify_benchmark_dataset)
export(verify_golden_store)
export(verify_popgenvcf_project)
export(write_ancestry_publication_artifacts)
export(write_benchmark_archive)
export(write_golden_store)
export(write_popgenvcf_project)
export(write_population_genomics_dashboard)
export(write_population_genomics_report)
export(write_regression_report)
export(align_pca_signs)
export(compare_validation_values)
export(run_scientific_validation)
export(validation_statistics)
export(validation_tolerances)
import(data.table)

export(manual_ibs_matrix)
export(compare_pca_subspaces)
export(manual_population_diversity)

export(pca_eigen_residuals)
export(align_cluster_labels)
export(compare_q_matrices)
export(structure_reproducibility)
export(select_structure_k)
export(run_faststructure)
export(run_snmf)
export(run_population_structure_validation)
export(new_analysis_artifact)
export(validate_analysis_artifact)
export(new_artifact_manifest)
export(register_artifact)
export(validate_artifact_manifest)
export(artifact_manifest_table)
export(write_pca_publication_artifacts)
export(prepare_vcf_input)
export(new_provenance_node)
export(new_provenance_edge)
export(new_provenance_dag)
export(add_provenance_node)
export(add_provenance_edge)
export(provenance_node_table)
export(provenance_edge_table)
export(provenance_topological_order)
export(provenance_ancestors)
export(provenance_descendants)
export(validate_provenance_dag)
export(new_sample_identity)
export(validate_sample_identity)
export(sample_identity_table)
export(resolve_sample_identity)
export(sample_identity_groups)
export(new_lineage_execution)
export(new_lineage_artifact)
export(new_artifact_lineage)
export(validate_artifact_lineage)
export(lineage_execution_table)
export(lineage_artifact_table)
export(artifact_lineage_dag)
export(verify_artifact_lineage)
export(write_artifact_lineage)
export(set_project_artifact_lineage)
export(new_fair_creator)
export(fair_identifier)
export(new_fair_metadata)
export(validate_fair_metadata)
export(fair_documents)
export(write_fair_bundle)
export(validate_fair_bundle)
export(set_project_fair_metadata)
export(publication_style)
export(new_publication_bundle)
export(validate_publication_bundle)
export(generate_publication_bundle)
export(set_project_publication_bundle)
export(new_manuscript)
export(validate_manuscript)
export(render_manuscript_markdown)
export(write_manuscript)
export(render_manuscript_jats)
export(validate_manuscript_jats)
export(write_manuscript_jats)
export(new_journal_profile)
export(validate_journal_profile)
export(generic_journal_profile)
export(journal_profile)
export(apply_journal_profile)
export(validate_journal_submission)
export(render_journal_profile)
export(write_journal_profile)
export(new_reporting_checklist)
export(validate_reporting_checklist)
export(generic_reporting_checklist)
export(validate_reporting_checklist_responses)
export(render_reporting_checklist)
export(write_reporting_checklist)
export(new_reviewer_response)
export(validate_reviewer_response)
export(reviewer_response_table)
export(reviewer_response_report)
export(render_reviewer_response)
export(write_reviewer_response)
export(new_manuscript_revision)
export(validate_manuscript_revision)
export(compare_manuscript_revisions)
export(render_manuscript_revision_diff)
export(write_manuscript_revision_diff)
export(new_manuscript_regeneration_plan)
export(manuscript_regeneration_table)
export(validate_manuscript_regeneration_plan)
export(render_manuscript_regeneration_plan)
export(write_manuscript_regeneration_plan)
export(new_manuscript_regeneration_execution)
export(manuscript_regeneration_execution_table)
export(validate_manuscript_regeneration_execution)
export(render_manuscript_regeneration_execution)
export(write_manuscript_regeneration_execution)
export(new_manuscript_regeneration_verification)
export(manuscript_regeneration_verification_table)
export(validate_manuscript_regeneration_verification)
export(render_manuscript_regeneration_verification)
export(write_manuscript_regeneration_verification)
export(new_scientific_release_bundle)
export(scientific_release_bundle_table)
export(validate_scientific_release_bundle)
export(render_scientific_release_bundle)
export(write_scientific_release_bundle)
export(new_execution_cancellation_token)
export(request_execution_cancellation)
export(validate_execution_cancellation_token)
export(execute_analysis_plan_with_cancellation)
export(execute_analysis_registry_with_cancellation)
export(new_execution_resource_policy)
export(new_module_resource_requirements)
export(admit_execution_resources)
export(new_external_command)
export(validate_external_command)
export(run_external_command)
export(new_external_process_supervision_policy)
export(run_supervised_external_command)
export(new_external_process_workspace_policy)
export(run_supervised_external_command_in_workspace)
export(start_supervised_external_command)
export(poll_supervised_external_command)
export(read_supervised_external_output)
export(finalize_supervised_external_command)
export(validate_external_process_handle)